body::-webkit-scrollbar {width:0px;}
body {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    overflow-x: hidden;
    max-width: 100%;
    width: 100%;
    background: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(https://catherineasquithgallery.com/uploads/posts/2021-02/1612415741_48-p-korichnevii-fon-klipart-76.jpg);
    background-attachment: fixed;
    color: hsla(41.53846153846149, 76.4705882352942%, 96.66666666666667%, 1);
}

.container {
    margin: 0px 260px;
    
}
.nav-item-n {
    display: none; /*#150e06*/
}
.header {
    background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.3)), url(https://celes.club/uploads/posts/2022-05/1653348679_26-celes-club-p-fon-dlya-prezentatsii-restoran-krasivie-27.jpg);
    background-attachment: fixed;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
}
.header-line {
    padding: 5px 0px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color:#150e06ab;
    position: fixed ;
    width: 100%;
    z-index: 13;
    box-shadow: 5px 5px 20px 1px  hsla(41.53846153846149, 76.4705882352942%, 96.66666666666667%, 1);
    transition: 0.5s;
}
.nav a , .number a , .phone-text {
    color:#d3d3d3;

}
.active {
    background-color:#150e06;
    transition: 0.5s;
}
.active2 {
    background-color: #150e06ab;
}
.btn a {
    color: hsla(41.53846153846149, 76.4705882352942%, 96.66666666666667%, 1);;
}
/*
.icon {
    width: 80px;
    height: 80px;
}
*/
.nav-item {
    color: #fff;
    text-decoration: none;
    font-weight: 700;
    font-size: 16px;
    margin-right: 25px;
    transition: color 0.2s linear;
}
.disp {
    display: none;
}
.header-logo a {
    color: #000;
    text-transform: uppercase;
    font-size: 30px;
    text-shadow: #ffffff -3px -2px 1px ;
    background: linear-gradient(45deg, #ebbba7, #cfc7f8);
    -webkit-background-clip:text;
    -webkit-text-fill-color: transparent;
    text-decoration: none;
    font-family: 'Marck Script';
    font-size: 30px;
}
.nav-item:hover {
    color: #ff7400;
}

.cart {
    border-right: 1px solid #fff;
    padding-right: 10px;
    height: 70px;
    position: relative;
}
.cart-img {
    position: absolute;
    top: 28px;
    right: 8px;
    width: 20px;
    height: 20px;
}
.information {
    color: rgb(235, 152, 0);
    font-size: 20px;
    
    margin-top: 100px;
}
.info-connect {
    justify-content: space-between;
    display: flex;
    position: relative;
}
.num {
    color: #fff;
    text-decoration: none;
    font-weight: 700;
    transition: color 0.2s linear;
}
.num:hover {
    color: #ff7400;
}
.phone-text {
    font-size: 14px;
    font-weight: 500;
    
}
.phone-holder {
    display: flex;
    align-items: center;
}
.button {
    background-color: #ff7400;
    color: #fff;
    text-decoration: none;
    padding: 14px 18px;
    font-weight: 700;
    transition: 0.2s linear;
}
.button:hover {
    background-color: #f19448;
}
.phone-img {
    margin-right: 3px;
}
.header-down {
    position: relative;
}
.header-title {
    color: #d3d3d3;
    font-family: 'Tinos', serif;
    font-size: 70px;
    font-weight: 400;
    text-align: center;
    position: absolute;
    left: 0;
    margin-top: 360px;
}
.header-suptitle {
    color: #fff;
    font-size: 23px;
    font-family: 'Open Sans', 'sans-serif' ;
    margin-top: 6px;
}
.header-suptitle:after {
    position: absolute;
    content: ' ';
    height: 2px;
    width: 120px;
    background-color: #fff;
    top: 180px;
    left: 110px;
}
.header-suptitle:before {
    position: absolute;
    content: ' ';
    height: 2px;
    width: 120px;
    background-color: #fff;
    top: 180px;
    left: 360px;
}
.img-gallery {
    width:260px ;
    height: 190px;
}
.gallery-list {
    display: flex;
    list-style-type: none;
    margin: 0a;
}
.header-button {
    background-color: #ff7400;
    padding: 14px 35px;
    color: #fff;
    font-size: 18px;
    font-weight: 700;
    font-family: 'open sans', 'sans-serif';
    text-decoration: none;
    transition: 0.2s;
    
}

.header-button:hover {
    background-color: #f19448;
}

.card-image {
    display: flex;
    justify-content: center;
    padding-top: 31px;
}
.card-title {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    font-family: 'Tinos', serif;
    font-size: 26px;
    font-weight: 400;
}
.card-desc {
    text-align: center;
    justify-content: center;
    font-family: 'Tinos', serif;
    font-size: 23px;
    font-weight: 400;
    color:#d3d3d3e0;
}
.card {
    box-shadow: 1px 1px 10px 1px  hsla(41.53846153846149, 76.4705882352942%, 96.66666666666667%, 1);
    width: 349px;
    margin-right: 90px;
    background: linear-gradient(#150e06, #4e371e);
    margin-top: -80px;
    padding: 10px 10px;
    padding-bottom: 40px;
    border-radius: 10px ;
    width: static; 
    
}
.backk {
    background-color: blueviolet;
}
.card-holder {
    display: flex;
    justify-content: space-around;
}
.card-title span {
    color: #d67e35;
    margin-left: 3px;
}
.history-title {
    font-family: 'Tinos', serif;
    font-size: 54px;
    width: 550px;
    text-align: center;
}
.history-title span {
    color: #d67e35;;
}
.history-desc {
    color: #d3d3d3e0;
    font-size: 20px;
    width: 550px;
    text-align: center;
    margin-top: 21px;
}
.history {
    margin-top: 270px;
    position: relative;
}
.history-number {
    display: flex;
    width: 544px;
    justify-content: center;
    margin-top: 130px;
    margin-left: 30px;
}
.number-item {
    margin-right: 60px; 
    text-align: center;
    font-size: 40px;
    color: #d67e35;
}
.number-item span {
    display: block;
    color: #d3d3d3e0;
    font-size: 25px;
}
.history-block {
    box-shadow: 1px 1px 10px 1px  hsla(41.53846153846149, 76.4705882352942%, 96.66666666666667%, 1);
    padding: 60px 50px;
    border-radius: 7px;
    z-index: 10;
    background:#3f2a12;
}
.history-holder {
    display: flex;
    justify-content:space-between;
}
.history-images {
    position: relative;
    
}
.images-1 {
    position: absolute;
    width: 300px;
    height: 350px;
    z-index: 5;
    margin-top:291px ;
    margin-left: -320px;
    margin-right: 1px;
    border-radius: 5px;
    box-shadow: 1px 1px 10px 1px  hsla(41.53846153846149, 76.4705882352942%, 96.66666666666667%, 1);
}

.images-2 {
    position: absolute;
    width: 300px;
    height: 350px;
    z-index: 3;
    margin-left: -642px;
    margin-top:118px;
    border-radius: 5px;
   box-shadow: 1px 1px 10px 1px  hsla(41.53846153846149, 76.4705882352942%, 96.66666666666667%, 1);
}
.images-3 {
    position: absolute;
    width: 300px;
    height: 450px;
    z-index: 4;
    margin-top:-152px;
    margin-left: -427px;
    margin-right: 119px;
    border-radius: 5px;
    box-shadow: 1px 1px 10px 1px  hsla(41.53846153846149, 76.4705882352942%, 96.66666666666667%, 1);
}
.food-block {
    box-shadow: 1px 1px 10px 1px  hsla(41.53846153846149, 76.4705882352942%, 96.66666666666667%, 1);
    background: linear-gradient(#150e06, #2b1e10);
    
}
.food-title {
    font-size: 54px;
}
.half  {
    color: #d67e35;
}
.half-2  {
    color: #d67e35;
}
.food-title ul span {
    color: #d67e35;
}

.vibe {
    background:  linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.8)), url(/bg-blur.jpg);
    background-attachment: fixed;
    color: #fff;
    text-align: center;
    margin-top: 200px;
}
.vibe-block {
    padding-top: 50px;
    padding-bottom: 103px;
}
.vibe-title {
    font-size: 30px;
}
.vibe-desc {
    width: 700px;
    margin-right: auto;
    margin-left: auto;
    font-size: 20px;
    color: #d3d3d3e0;
}
.vibe-desc {
    word-wrap: break-word;
}
.food {
    font-family: 'Tinos', serif;
    
}
.food-desc li {
    list-style-type: none;
    margin-top: 10px;
    font-size: 23px;
    font-family: 'Tinos', serif;
    color:#d3d3d3e0;
}
.upper  {
    font-size: 25px;
    margin-top: 30px;
    font-weight: 700;
}
ul h2 {
    font-size: 54px;
}
.dot {
    position :relative;
    padding-right:2px; 
}
.dot-2{
    right: auto;
    padding-left: 10px;
}
.block-menu .half:after {  content:'........................';
    padding-left: 3px;
    white-space: nowrap;
    overflow: hidden;
}
.block-menu .half-2:after { content:'..............';
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.block-menu .half-22:after {  content:'.....................................';
    white-space: nowrap;
    overflow: hidden;
}
.block-menu .half-3:after {  content:'...........................................';
    white-space: nowrap;
    overflow: hidden;
}
.half-22 {
    color: #d67e35;
}
.half-3 {
    color: #d67e35;
}
.food-block {
    padding: 5px 25px 55px 15px;
    border-radius: 8px;

}
.img-food-block {
    display: flex;
    margin-bottom: 100px;
    margin-top: 260px;
    
}
.interior-img {
    width: 540px;
    height: 450px;
    position: absolute;
    z-index: -1;
    margin-left:-140px ;
    margin-top: 60px;
   box-shadow: 1px 1px 10px 1px  hsla(41.53846153846149, 76.4705882352942%, 96.66666666666667%, 1);
    border-radius: 50%;
}
.interior-img-2 {
    width: 550px;
    height: 550px;
    
    z-index: -1;
    margin-left:50px ;
    margin-top: 60px;
   box-shadow: 1px 1px 10px 1px  hsla(41.53846153846149, 76.4705882352942%, 96.66666666666667%, 1);
    border-radius: 50%;
}
.food-block-2 {
    background: linear-gradient(#150e06, #4e371e);
    box-shadow: 1px 1px 10px 1px  hsla(41.53846153846149, 76.4705882352942%, 96.66666666666667%, 1);
    border-radius: 8px;
    padding: 5px 25px 55px 15px;
    width: 800px;
}
.dot-3{
   
    padding-left: 10px;
}
.gallery-li li {
    list-style-type: none;
    
}
.gallery-li {
    display: flex;
}
.gallery-list-up ul li {
    margin: 0 5px;
    justify-content: center;
    align-items: center;
    display: block;
}
.gallery-list-down ul li {
    margin: 0 5px;
    justify-content: center;
    text-align: center;

}

.gallery-list-2 {
    width: 250px;
    height: 250px;
    
}
.gallery-food {
    text-align: center;
    font-size: 54px;
    margin-top: 100px;
    font-family: 'Tinos' , serif;
}
.gallery-list-along {
    margin-top: 60px;
    font-family: 'Tinos', serif;
    margin: 0 auto;
    
}
.img-gall {
    width: 300px;
    height: 300px;
}
.gallery-up {
    display: flex;
}
.gallery-con {
    width: 910px;
    margin: 50px auto 5px auto;
}

.gallery-down {
    display: flex;
}
.img-col {
    margin-right: 10px;
    
}
.gallery-food:after {
    position: absolute;
    content: ' ';
    height: 2px;
    width: 120px;
    background-color: #f19448;
    margin-top: 40px;
    margin-left: 20px;
}
.gallery-food:before {
    position: absolute;
    content: ' ';
    height: 2px;
    width: 120px;
    background-color:#f19448;
    margin-left: -140px;
    margin-top: 40px;
}
.rating-title {
    text-align: center;
    font-size: 54px;
    padding-bottom: 75px;
    margin-top: 60px;
    margin-left: auto;
    margin-right: auto;

}
.date {
    color: rgb(187, 187, 187);
    font-size: 18px;
    padding-top: 10px;
}
.discount-block {
    background-color: #1e1e1e;
    background:  linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.8)), url(/bg-blur.jpg);
    background-attachment: fixed;
    height: auto;
}
.discount p {
    color:#d3d3d3fa;
    text-align: center;
    padding-top: 100px;
    padding-bottom: 100px;
    font-size: 25px;
    font-family: "Tinos" , serif;
}
.rating {
    font-family: 'Tinos' , serif;
    position: relative;
    display: flex;
    justify-content: center;
}
.rating-people-up {
    display: flex; 
    margin-left: auto;
    margin-top: auto;
}
.rating-desc {
    font-size: 20px;
    word-wrap: break-word;
    width: 450px;
    color: #d3d3d3e0;
}
.rating-people-down {
    display: flex; 
    margin-left: auto;
 
}
.rating-ul {
    margin-right: 50px;
    margin-left: 50px;
    margin-bottom: 50px;
    box-shadow: 1px 1px 10px 1px  hsla(41.53846153846149, 76.4705882352942%, 96.66666666666667%, 1);
    padding: 20px 20px;
    border-radius: 8px;
    background: linear-gradient(#150e06, #2b1e10);
    
}

.rating-title:after {
    position: absolute;
    content: ' ';
    height: 2px;
    width: 120px;
    background-color: #f19448;
    margin-top: 40px;
    margin-left: 20px;
}
.rating-title:before {
    position: absolute;
    content: ' ';
    height: 2px;
    width: 120px;
    background-color:#f19448;
    margin-left: -140px;
    margin-top: 40px;
}
footer {
    height: 200px;
    background-color: #1a1a1a;
    min-width: 100wh;
}
.copyright {
    color: #e1e1e1;
    text-align: center;
    padding-top: 100px;
}
.burger {
    width: 50px;
    height: 50px;
}
.burger-menu {
    display: none;
}
@media (max-width: 1500px) { 

    .gallery-li {
        display: block;
        
    }
}
@media (max-width:415px) {
    .splash-img2 {
        width: auto;
        height: 200px;
        margin-top: 50px;
    }
    .straw-img {
        width: auto;
        height: 120px;
        margin-top:60px;
        margin-left: 10px;
    }
    .straw {
        position: absolute;
        width: auto;
    }
    .splash-img {
        width: 370px;
    }
}
@media (max-width:1300px) {
    .container {
        margin: auto 100px;
    }
    .history-title
    .history-desc
    .history-number {
        width: auto;
    }
}
.time {
    position: absolute;
    margin-top: 750px;
    left: 180px;
}
.info-1 {
    display: flex;
}
.info {
    display: flex;
    
}
.for-margin {
    margin-right: 260px;
}
.info li {
    list-style-type: none;
    margin-left: 15px;
    font-weight: 500;
    font-size: 18px;
}
@media (max-width:1618px) {
    .cart,
    .phone,
    .btn {
        display: none;
    }
    .header-logo {
        padding-left: 15px;
    }
    .burger {
        padding-right: 15px;
    }
    .nav-item-n {
        display: initial;
    }
    .header-line {
        justify-content: space-between;
    }
    .burger-menu {
        display: block;
        padding-right: 15px;
    }
    .icon {
        padding-left: 15px;
    }
    .rating {
        position: static;
    }
    .food-block-2 {
        margin-left: auto;
        margin-right: auto;
    }
    .nav {
        position: fixed;
        top: -120%;
        left: 0px;
        width: 100%;
        height: 100%;
        background-color: #150e06;
        z-index: 11;
        padding: 150px 0px 0px 0px;
        transition: all 0.3s ease 0s;
    }
    .active {
        top: 0;
        transition: all 0.3s ease 0s;
        
    }
    .vibe-desc {
        margin: 0 auto;
        padding: 0px 10px 0px 10px;
    }
    .nav-item {
        display: block;
        margin-left: 20px;
        margin-bottom: 30px;
    }
    .header-logo {
        z-index: 13;
    }
    .burger-menu {
        z-index: 13;
    }
    .header-line:before {
        content:'';
        width: 100%;
        top: 0;
        left: 0;
        height: 100%;
        background-color: #150e06;
        position: absolute;
        z-index: 12;
        box-shadow: 1px 1px 10px 1px  hsla(41.53846153846149, 76.4705882352942%, 96.66666666666667%, 1);
    }
}
@media (max-width:780px) {
    .header-suptitle:before {
        content: none;
    }
    .header-suptitle:after {
        content: none;
    }
    .block-menu .half:after {  content:'............';
        padding-left: 3px;
        white-space: nowrap;
        overflow: hidden;
    }
    .block-menu .half-2:after { content:'..';
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    .block-menu .half-22:after {  content:'.........................';
        white-space: nowrap;
        overflow: hidden;
    }
    .block-menu .half-3:after {  content:'...............................';
        white-space: nowrap;
        overflow: hidden;
    }
    .tit {
        font-size: 50px;
    }
    

}
@media (max-width:880px) {
    .gallery-food::after {
        content: none;
    }
    .gallery-food:before {
        content: none;
    }
    .rating-title:after , .rating-title:before {
        content: none;
    }
    .header-title {
        width: auto;
    }
     .half:after {  content: none;
        padding-left: 3px;
        white-space: nowrap;
        overflow: hidden;
    }
     .half-2:after { content: none;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
     .half-22:after {  content: none;
        white-space: nowrap;
        overflow: hidden;
    }
     .half-3:after {  content: none;
        white-space: nowrap;
        overflow: hidden;
    }
}

@media (max-width:1000px) {
    .card-holder {
        display: block;
        
    }
    .card {
        margin-bottom: 100px;
        width: auto;  
    }
    .history-block , .history-desc , .history-title, .history-number {
        width: auto;
    }
    .header-suptitle:after , .header-suptitle:before {
        content: none;
    }
    .gallery-con {
        margin: 50px auto 5px auto;
        max-width: 500px;
    }
    .img-gall {
        width: 150px;
        height: 150px;
    }

 
}
@media (max-width:600px) {
    .gallery-down,
    .gallery-up {
        display: block;
    }
    .img-gall {
        width: 230px;
        height: 230px;
    }
    .gallery-con {
        max-width: 240px;
        margin: 50px auto 5px auto;
    }
}
@media (max-width:830px) {
    .gallery-list-along {
        display: block;
    }
    .gallery-list-1 {
        width: 100%;
        padding: 0px 0px 0px 0px;
    }
    .gallery-list-2 {
        max-width: 100%;
        padding: 0px 0px 0px 0px;
    }
    .gallery-list {
        display: block;
    }
}
@media (max-width:1155px) {
   
    .card {
        width: 100%;
        word-wrap: break-word;
        padding: auto;
        margin-top: 30px;
    }
    .card-title {
        word-wrap: break-word;
    }
    .card-holder {
        display: block;
    }
    .card {
        margin-bottom: 100px;
    } 
}
.discount-block {
    margin-bottom: -110px;
   }
.splash{
    position: absolute;
}
.splash-img {
    margin-bottom: 600px;
}
@media (max-width:1770px) {
    .rating-ul{
        width: auto;
    }
    .interior-img {
        display: none;
    }
    .img-food-block  {
        position: static;
        
    }
    .interior-img {
        position: static;
    }
    .interior-img-2 {
        width: 450px;
        height: 450px;
    }
    .rating-desc {
        width: auto;
    }
    .rating {
        margin-left: auto;
        margin-right: auto;
        
    }
    .rating-ul {
        margin-right: 10px;
        margin-left: 10px;
       
    }
    .interior-img {
        margin-left: 0px;
    }
    .card {
        margin-right: 30px;
    }
    .food-block-img {
        display: block;
        position: static;
    }
}
@media (max-width:1700px) {
    .time {
        position: absolute;
        margin-top: 720px;
        left: -55px;
    }
    .info-1 {
        display: flex;
    }
    .info {
        display: block;
        
    }
    .for-margin {
        margin-right: 0px;
    }
    .info li {
        list-style-type: none;
        margin-left: 15px;
        font-weight: 500;
        font-size: 18px;
        margin-bottom: 15px;
    }
}
@media (max-width:1510px) {
    .history-image{ 
        display: none;
    }
    .history-block {
        margin-right: auto;
        margin-left: auto;
        
    }
}
@media (max-width:1325px) {
    .img-food-block {
        
        display: flex;
    }
    .interior-img  {
        display: none;
    }
   
    

}
.gifka {
    display: none;
}
@media (max-width:770px) {
    .splash-img2 {
        display: none;
    }
}
@media (max-width:1200px) {
    .interior-img-2 {
        display: none;
    }
    .straw {
        display: flex;
    }
    .splash-img2 {
        margin-top: -100px;
        width: 300px;
        height: 300px;
    }
    .straw-img {
        width: 220px;
        height: 220px;
        margin-top:60px;
        margin-left: 10px;
    }
    .straw {
        position: absolute;
        width: auto;
    }
    .splash-img {
        width: 370px;
    }
    .straw-block {
        display: initial;
    }
    .gifka {
        display: initial;
        width: 550px;
        height: 550px;
        border-radius: 50%;
    }
}

@media (max-width:1000px) {
    .rating-people-up , .rating-people-down{
        max-width: 600px;
    }
    .rating-people-up , .rating-people-down {
        display: block;
        position: relative;
        margin-right: auto;
        margin-left: auto;
        width: auto;
    }
    .rating-ul {
        margin-bottom: 15px;
    }
    .container {
        margin: auto 50px;
    }
    .rating-title {
        width: auto;
    }
    .gifka {
        width: 350px;
        height: 350px;
        margin-left: 20px;
    }
    

}
.gifka {
        border-radius: 50%;
}
@media (max-width:700px) {
    .vibe-desc {
        width: auto;
    }

    .gallery-li {
        padding: 0px 0px 0px 0px;
    }
    .history-holder {
        margin-right: auto;
        margin-left: auto;
        
    }
    .img-food-block {
        width: auto;
    }
    .card {
        width: auto;
        margin-right: 0px;
    }
    .history {
        width: auto;
    }
    .history-holder {
        display: block;
    }
}
@media (max-width:565px) {
    .history {
        width: auto;
    }
    .food-title .food-desc {
        width: auto;
    }
    .history-holder {
        display: block;
    }
    .food {
        display: block;
        width: auto;
    }
}
.straw-block {
    height: 200px;
}
@media (max-width:500px) {
    .gifka {
        width: 200px;
        height: 200px;
    }
    .splash-img {
        margin-top: 100px;
        max-width:250px ;
    }
    .splash-img2 {
        margin-top: 50px;
    }
    .time {
        position: absolute;
        margin-top: 630px;
        left: -55px;
    }
    .info-1 {
        display: flex;
    }
    .info {
        display: block;
        
    }
    .for-margin {
        margin-right: 0px;
    }
    .info li {
        list-style-type: none;
        margin-left: 15px;
        font-weight: 500;
        font-size: 18px;
        margin-bottom: 15px;
    }
    .card-desc {
        font-size: 17px;
    }
    .card {
        padding: 5px 5px 30px 5px;
        margin-bottom: 5px;
    }
    .splash-img2 {
        width: 120px;
        height: 200px;
        margin-top: 50px;
        display: initial;
    }
    .straw-img {
        width: 120px;
        height: 120px;
        margin-top:60px;
        margin-left: 10px;
    }
    .straw {
        position: absolute;
        width: auto;
    }
    .food-desc {
        font-size: 18px;
    }
    .header-btn {
        margin-top: 20px;
    }
    .block-menu .half:after {  content:none;
        padding-left: 3px;
        white-space: nowrap;
        overflow: hidden;
    }
    .block-menu .half-2:after { content:none;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    .block-menu .half-22:after {  content:none;
        white-space: nowrap;
        overflow: hidden;
    }
    .block-menu .half-3:after {  content:none;
        white-space: nowrap;
        overflow: hidden;
    }
    .container {
        margin: auto 40px;
    }
    .number-item span {
        font-size: 20px;
    }
    .food {
        display: block;
        width: auto;
    }
    .gallery-list-1 {
        max-width: 100%;
    }
    .number-item {
        margin-right: 25px;
        font-size: 28px;
    }
    .history-number {
        margin-top: 45px;
    }
    .history-block {
        padding:70px 20px;
    }
    .history {
        margin-top: 230px;
    }
    .gallery-list-2 {
        max-width: 100%;
    }
    .card-title {
        display: block;
        text-align: center;
        font-size: 23px;
    }
    .header-title , .header-subtitle {
        font-size: 38px;
    }
    
    .upper {
        font-size: 20px;
    }
    .block-menu li {
        font-size: 18px;
    }
    .food-title {
        font-size: 40px;
    }
    .gallery-food {
        font-size: 40px;
        position: relative;
    }
    .gallery-li {
        padding: 0px 0px 0px 0px;
    }
    .header-logo {
        padding-left: 15px;
    }
    .copyright {
        padding-left: 5px;
        padding-right: 5px;
    }
    .discount p {
        font-size: 18px;
        padding-left: 5px;
        padding-right: 5px;
    }
    .history-title {
        font-size: 40px;
    }
    .history-desc {
        font-size: 18px;
    }
    .vibe-title h3 {
        font-size: 21px;
    }
    .vibe-desc {
        font-size: 17px;
    }
    .header-line {
        height: 60px;
    }
    .burger {
        height: 45px;
        width: 45px;
        margin-bottom: 10px;
    }
    .icon {
        height: 60px;
        width: 60px;
        margin-bottom: 10px;
    }
 
}
@media (max-height:870px) {
    .info {
        margin-top: -100px;
    }
    .header-title {
        margin-top: 220px;
    }
}
@media (max-height:740px) {
    .info {
        display: flex;
        margin-top: -180px;
    }
    .tit {
        font-size: 40px;
    }
    
}
@media (max-width:408px ) {
    .tit {
        font-size: 30px;
    }
    .info-1 li {
        font-size: 10px;
    }
    .info-1 li img {
        height: 15px;
        width: 15px;
    }
}

